# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Environment variables and secrets
.env


# Raw datasets
data/raw/
data/subset_raw/
data/subset_g711/
data/subset_g711.rar
data/subset_raw.rar

# Model files
*.pt
*.pth
*.onnx
*.pkl

# Logs
*.log

# IDE files
.vscode/
.idea/